.about {
  @apply p-8 max-w-4xl mx-auto;
}

.about > h3 {
  @apply text-primary text-2xl;
}

.paragraph > p {
  @apply my-4;
}

.carousel {
  @apply bg-primary;
  overflow-x: hidden;
}

.carousel > div {
  position: relative;
  @apply h-48 max-w-4xl mx-auto;
}

.testimonial {
  position: absolute;
  @apply bg-transparent text-white p-6 top-0 text-center;
  @apply h-full flex justify-center items-center;
}
