.about {
  @apply p-8 max-w-4xl mx-auto;
}

.about > h3 {
  @apply text-primary text-2xl;
}

.about h4 {
  font-family: "Montserrat";
  @apply my-4;
}

.about a {
  @apply inline text-center;
}

.paragraph > p {
  @apply my-4;
}

.carousel {
  @apply bg-teal-900;
  overflow-x: hidden;
}

.carousel > div {
  position: relative;
  @apply h-48 max-w-4xl mx-auto;
}

.testimonial {
  position: absolute;
  @apply bg-transparent text-white p-6 top-0 text-center;
  @apply h-full flex justify-center items-center;
}

@screen md {
  .bgImageWrapper {
    float: right;
    @apply w-1/2 mb-2 ml-4;
  }
}
