.top {
  @apply max-w-4xl mx-auto flex flex-col px-8 py-4;
}

.root {
  @apply max-w-4xl mx-auto;
  @apply flex flex-wrap justify-center items-center;
}

.root > * {
  @apply mx-4 w-full max-w-sm;
}

.top > h1 {
  @apply mt-6;
}

.card {
  @apply bg-gray-100 border-2 border-gray-200;
  @apply rounded-lg overflow-hidden shadow-lg;
  @apply mt-6;
}

.card > div > * + * {
  @apply mt-1;
}

.card > div {
  @apply p-4;
}

.card-image {
  @apply h-48 object-top;
}

.price {
  @apply flex tracking-wide;
}

.price > :nth-child(2) {
  @apply text-gray-600 ml-2;
}

.date {
  @apply flex;
}

.date > :nth-child(1) {
  @apply text-teal-700;
}

.date > h4 {
  @apply text-base;
  font-family: "Montserrat";
}
