.section {
  @apply p-8;
}

.splash > div {
  position: relative;
}

.splash .headline,
.splash .overlay {
  position: absolute;
  @apply w-full h-full top-0 left-0;
}

.splash .headline {
  @apply flex justify-center items-end;
  @apply px-8 pb-4 text-white text-center;
  text-shadow: 0.5px 0.5px 0.5px gray;
}

.splash .overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.headline h2 {
  white-space: pre;
}

.splash a {
  @apply mt-2;
}

.section {
  @apply p-8 max-w-6xl mx-auto my-4;
}

/* container */
.blurbs {
  @apply flex flex-wrap justify-between mb-6 py-4;
}

/* individual blurb */
.blurbs > div {
  @apply mt-6;
}

.blurbs p {
  @apply mt-2;
}

.section > div:last-child {
  display: flex;
  justify-content: center;
}

@screen sm {
  .blurbs > div {
    @apply w-5/12 flex-grow max-w-none;
  }
  .blurbs > div:nth-child(odd) {
    @apply pr-6;
  }
  .splash .headline {
    @apply justify-start items-end;
    @apply text-left pb-24;
  }
}

@screen lg {
  .splash .headline {
    @apply pl-20;
  }
  .splash .headline h2 {
    @apply text-4xl;
  }
}

@screen lg {
  .bg-image-wrapper {
    height: 40rem;
  }
}

.testimonial {
  @apply bg-primary text-white p-6;
}

.testimonial > div {
  @apply flex flex-col items-center text-center px-4 py-8;
}

.testimonial > div > p {
  @apply mt-2;
}

.signup {
  @apply flex flex-col p-6 items-center text-center my-4;
}

.signup > div > h3 {
  @apply mb-8;
}

@screen lg {
  .signup > div > h3 {
    @apply whitespace-pre-wrap;
  }
}
