.section {
  @apply p-8;
}

.splash > div {
  position: relative;
}

.splash > div > div:not(:first-child) {
  position: absolute;
  @apply w-full h-full top-0 left-0;
}

.splash > div > div:nth-child(3) {
  @apply flex justify-center items-end;
  @apply px-8 pb-4 text-white text-center;
  text-shadow: 0.5px 0.5px 0.5px gray;
}

.splash > div > div:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.3);
}

.splash button {
  @apply mt-2;
}

/* container */
.blurbs {
  @apply flex flex-wrap justify-between mb-6;
}

/* individual blurb */
.blurbs > div {
  @apply mt-6;
}

.blurbs p {
  @apply mt-2;
}

.button {
  composes: button from global;
}

.section > div:last-child {
  display: flex;
  justify-content: center;
  @apply mt-3;
}

@screen sm {
  .blurbs > div {
    @apply w-5/12 flex-grow max-w-none;
  }
  .blurbs > div:nth-child(odd) {
    @apply pr-6;
  }
  .splash > div > div:nth-child(3) {
    @apply justify-start items-end;
    @apply text-left pb-48;
  }
}

@screen lg {
  .bg-image-wrapper {
    height: 40rem;
  }
}

.testimonial {
  @apply bg-primary text-white p-6;
}

.testimonial > div {
  @apply flex flex-col items-center text-center px-4 py-4;
}

.testimonial > div > p {
  @apply mt-2;
}

.signup {
  @apply flex flex-col p-6 items-center text-center;
}

.signup > div > h3 {
  @apply mb-6;
}
