.root {
  background-color: red;
  @apply text-white;
}

.backdrop {
  @apply bg-teal-700;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  @apply shadow-lg;
}

.container {
  z-index: 20;
  position: fixed;
  height: theme("spacing.16");
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @apply px-4 max-w-4xl mx-auto inset-x-0;
}

.menu {
  z-index: 30;
  @apply stroke-current w-6;
}

.banner {
  height: 100%;
  display: flex;
  align-items: center;
  @apply text-4xl;
}

.banner > a {
  /* height: 100%; */
  display: flex;
  align-items: center;
  @apply tracking-wide m-1;
}

.banner > a > svg {
  display: inline;
}

.banner > a > span {
  @apply text-lg ml-3;
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat";
  @apply w-full h-full z-20 text-white text-lg font-bold tracking-wider;
}

.nav-mobile > div + div {
  @apply mt-4;
}

.nav-mobile a[data-active="true"] {
  @apply text-secondary;
}
