.root {
  background-color: red;
  @apply text-white;
}

.backdrop {
  @apply bg-teal-700;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.container {
  z-index: 20;
  position: fixed;
}

.menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 30;
  @apply stroke-current mr-4 mt-4;
}

.banner > a {
  @apply tracking-wide;
}

.banner > a > svg {
  display: inline;
}
