.text-input {
  @apply bg-gray-200 border-gray-400 border-2 box-border rounded-md;
}

.label {
  font-family: "Montserrat";
  font-weight: bold;
}

.submit {
  composes: button from "./links.module.css";
}
