@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: theme("colors.teal.700");
  --color-secondary: #fa6547;
}

body {
  font-family: "Manjari";
  @apply text-gray-900;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  font-family: "Montserrat";
  @apply text-lg font-bold tracking-wide;
}

h4 {
  font-family: "Manjari";
  @apply text-xl font-bold;
}

.button {
  @apply text-base text-center;
  @apply leading-tight tracking-wide;
  @apply rounded-md shadow-lg;
  @apply px-4 py-2;
  @apply bg-secondary text-white;
}
